/*******************************************************************************
 * Themes
 ******************************************************************************/
 
:root {
  --global-bg-color: #f7f2e9;
  --global-code-bg-color: #{$code-bg-color-light};
  --global-text-color: #0b1b2b;
  --global-text-color-light: #586171;
  --global-theme-color: #f08a24;
  --global-hover-color: #d56c10;
  --global-footer-bg-color: #0b1b2b;
  --global-footer-text-color: #f7f2e9;
  --global-footer-link-color: #f7f2e9;
  --global-distill-app-color: #586171;
  --global-divider-color: rgba(11, 27, 43, 0.15);

  .fa-sun {
    display : none;
  }
  .fa-moon {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }
}

html[data-theme='dark'] {
  --global-bg-color: #09111a;
  --global-code-bg-color: #{$code-bg-color-dark};
  --global-text-color: #f4efe7;
  --global-text-color-light: #c2b9ad;
  --global-theme-color: #f6a149;
  --global-hover-color: #ffd09c;
  --global-footer-bg-color: #f4efe7;
  --global-footer-text-color: #09111a;
  --global-footer-link-color: #09111a;
  --global-distill-app-color: #c2b9ad;
  --global-divider-color: #2a3947;

  .fa-sun {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }
  .fa-moon {
    display : none;
  }
}
