/*******************************************************************************
 * Variables used throughout the theme.
 * To adjust anything, simply edit the variables below and rebuild the theme.
 ******************************************************************************/


// Colors
$red-color:           #ff4d4d !default;
$red-color-dark:      #b71c1c !default;
$orange-color:        #f08a24 !default;
$blue-color:          #2359d1 !default;
$blue-color-dark:     #153a8a !default;
$cyan-color:          #2a8aa6 !default;
$light-cyan-color:    lighten($cyan-color, 25%);
$green-color:         #00ab37 !default;
$green-color-lime:    #B7D12A !default;
$green-color-dark:    #009f06 !default;
$green-color-light:   #ddffdd !default;
$green-color-bright:  #11D68B !default;
$purple-color:        #f08a24 !default;
$light-purple-color:  lighten($purple-color, 25%);
$pink-color:          #f92080 !default;
$pink-color-light:    #ffdddd !default;
$yellow-color:        #efcc00 !default;

$grey-color:          #7a7a7a !default;
$grey-color-light:    lighten($grey-color, 40%);
$grey-color-dark:     #0b1b2b;

$white-color: #ffffff !default;
$black-color: #000000 !default;


// Theme colors

$code-bg-color-light:     rgba($orange-color, 0.08);
$code-bg-color-dark:      #2c3237 !default;
